#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

#landing > section {
  width: 90%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.landing-1 > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.landing-par1 {
  font-size: 1rem;
  color: var(--primary);
  font-weight: bold;
}

.landing-1 > h1 {
  text-align: center;
  font-size: 5rem;
}

.landing-1 > div {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 7vh;
}

.landing-par {
  text-align: center;
  font-size: 1rem;
  color: grey;
  width: 70%;
}

.landing-1 > div > a {
  width: 20%;
  border: thin solid var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: white;
  font-size: 1rem;
  border-radius: 100px;
  background-color: var(--primary);
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Styles for phones and tablets */

  #landing > section {
    width: 98%;
    border: thin solid black;
  }

  .landing-1 > div {
    width: 100%;
    height: 6vh;
  }

  .landing-1 > div > a {
    width: 33%;
  }
}
