#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#services > section {
  width: 90%;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#services-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#services-1 > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#services-1 > h2 {
  font-size: 3rem;
}

#services-1 > p {
  font-size: 1.2rem;
  text-align: center;
  color: grey;
}

.services-2 {
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 70vh;
}

.services-3 {
  border-top: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 70vh;
}

#services-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#services-2 > * {
  height: 100%;
}

.section-header {
  width: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -2.5%;
}

.section-header > p {
  height: 12%;
  font-size: 2rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.section-body {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-body > h3 {
  font-size: 2rem;
  color: var(--primary);
}

.section-body > p {
  font-size: 1.2rem;
  color: grey;
}

.section-info {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course-cont {
  width: 24%;
  height: 100%;
  border: thin solid lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.course-cont > * {
  width: 100%;
}
.course-cont > div {
  width: 100%;
  height: 50%;
  background-image: url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.course-cont > span {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.course-cont > span > * {
  width: 95%;
}

.course-card-header {
  display: flex;
  height: 20%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course-card-header > * {
  font-size: 1rem;
}

.course-card-header > :last-child {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course-card-body {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.course-card-body > :first-child {
  font-size: 1rem;
}

.course-card-body > :last-child {
  font-size: 1.2rem;
  color: var(--primary);
}

.course-card-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course-card-foot > p {
  font-size: 0.8rem;
  color: grey;
  border: thin solid black;
  width: 32%;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.course-card-foot > p > :first-child {
  font-size: 1.2rem;
}

.course-card-f1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.course-card-f1 > button {
  height: 5vh;
  width: 40%;
  font-size: 1rem;
  border: thin solid var(--primary);
  background-color: var(--primary);
  color: white;
  /* border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 2.5px; */
}

.section-foot {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-foot > button {
  height: 100%;
  width: 15%;
  font-size: 1.2rem;
  background-color: var(--primary);
  border: thin solid var(--primary);
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 2.5px;
  color: white;
}
