#careers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#careers > section {
  width: 90%;
  border: thin solid black;
}

#careers-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 30vh;
}

#careers-1 > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 13%;
  height: 6vh;
  
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Styles for phones and tablets */
}
