footer {
  width: 100%;
  background-color: var(--primary);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer > div {
  width: 90%;
}

#foot-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin-top: 7.5vh;
  margin-bottom: 2.5vh;
}

#foot-0 > span {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#foot-0 > span > h3 {
  font-size: 1.8rem;
  color: white;
}

#foot-0 > span > p {
  font-size: 1rem;
  color: white;
}

#foot-0 > form {
  width: 25%;
  height: 60%;
  border: thin solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

#foot-0 > form > input {
  border: none;
  height: 100%;
  text-align: center;
  width: 70%;
  font-size: 1rem;
}

#foot-0 > form > button {
  height: 100%;
  width: 30%;
  border: none;
  cursor: pointer;
  background-color: var(--third);
  color: var(--primary);
  color: white;
  font-size: 1.1rem;
}

#foot-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.footer-information {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-info {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-info > * {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  color: white;
  font-size: 1rem;
}

#foot-2 {
  height: 7vh;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  border-radius: 200px;
  background-color: var(--third);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#foot-2 > span {
  height: 100%;
}

#foot-2-foot {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#foot-2-head {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: white;
}

#foot-2-body {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#foot-2-body > * {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  text-align: center;
}

#foot-2-foot > * {
  font-size: 1.8rem;
  color: white;
}
