#notfound {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#notfound > div {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

#notfound > div > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#notfound > div > h2 {
  color: var(--primary);
  font-size: 2.5rem;
}

#notfound > div > img {
  color: var(--primary);
  font-size: 2.5rem;
  /* width: 60%; */
  height: 68%;
}

#notfound > div > p {
  font-size: 1.2rem;
  text-align: center;
  color: grey;
}

#notfound > div > a {
  width: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7vh;
  background-color: var(--primary);
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 2.5px;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Styles for phones and tablets */
  #notfound > div {
    width: 98%;
  }

  #notfound > div > a {
    width: 30%;
    height: 7vh;
  }
  #notfound > div > img {
    color: var(--primary);
    font-size: 2.5rem;
    width: 60%;
    /* height: 60%; */
  }
}
